#vis-display {
  position: relative;
  min-width: 0;
  width: 99%;
  height: 99%;
  background-color: cadetblue;
}

#reset-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  background-color: #0074d9;
  color: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
