/* 
gray0: #f8f9fa
gray1: #f1f3f5
gray2: #e9ecef
gray3: #dee2e6
gray4: #ced4da
gray5: #adb5bd
gray6: #868e96
gray7: #495057
gray8: #343a40
gray9: #212529
*/

/* Put table on left panel */
.left-side {
  grid-column: 1;
  grid-row: 2;
}

/* For scrollable table */
.table-container {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  border: 2px solid #adb5bd; /* GRAY 5 */
  width: 100%;
}

table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

table tr td:nth-child(1) {
  width: 50%;
  word-break: break-all;
}

table tr td:nth-child(2) {
  width: 20%;
  min-width: 90px;
  text-align: right;
}

table tr td:nth-child(3) {
  width: 30%;
  text-align: center;
}

th {
  position: sticky;
  top: 0;
  z-index: 1;
}

tr th {
  font-size: 22px;
}

td {
  vertical-align: middle;
  padding: 10px;
}

th {
  padding: 5px;
  background-color: #ced4da; /* GRAY 4 */
}

table tbody tr:nth-child(odd) {
  background-color: #e9ecef; /* GRAY 2 */
}

.icon {
  width: 20px;
  height: 20px;
}

.img-preview {
  cursor: pointer;
}

.directory-link {
  padding: 2px 10px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.directory-link:link,
.directory-link:visited {
  color: #0000ee;
}

.directory-link:hover {
  background-color: #adb5bd; /* GRAY 5 */
}

.file-name {
  padding: 2px 10px;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}
