.left-side {
  grid-column: 1;
  grid-row: 2;
}

.table-container {
  max-height: calc(100vh - 75px);
  overflow-y: auto;
  border: 2px solid #ccc;
}

table tr td:nth-child(2) {
  text-align: right;
}

table {
  position: relative;
  border-collapse: collapse;
}

th {
  position: sticky;
  top: 0;
  z-index: 1;
}

tr th {
  font-size: 20px;
}

td {
  vertical-align: middle;
}

table tbody tr:nth-child(odd) {
  background-color: #f1f3f5;
}

.icon {
  width: 20px;
  height: 20px;
}

.img-preview {
  cursor: pointer;
}

.directory-link {
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.directory-link:link,
.directory-link:visited {
  color: #0000ee;
}

.directory-link:hover {
  background-color: #ced4da;
}

.file-name {
  padding: 2px 10px;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}
